PORT=3001
FRONTEND_URL=http://localhost:3000

ADMIN_EMAIL=admin@local.test
ADMIN_PASSWORD=Admin123!
ADMIN_ROLE=superadmin

ADMIN_JWT_SECRET=change_me
ADMIN_JWT_EXPIRES_IN=1h
ADMIN_BCRYPT_SALT_ROUNDS=10

USER_JWT_SECRET=change_me_user

# Database Configuration (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=distridentmedical
DB_SYNC=true

# Email Configuration (Nodemailer)
MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=no-reply@distrident.ro
ADMIN_NOTIFICATION_EMAIL=admin@distrident.ro
